<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    <link rel="shortcut icon" href="" type="image/x-icon">
  </head>
  <body>

    {{{body}}}

  </body>
</html>
